<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="4.2.1" targetFramework="net45" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net45" />
  <package id="NewLife.Core" version="5.6.5941.32092" targetFramework="net45" />
  <package id="NewLife.Net" version="3.1.5878.19411" targetFramework="net45" />
  <package id="NewLife.XCode" version="9.0.5941.32093" targetFramework="net45" />
  <package id="NewLife.XCoder" version="6.5.5878.19413" targetFramework="net45" />
  <package id="sqlite-net" version="1.0.5" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.105.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.105.0" targetFramework="net45" />
  <package id="System.Data.SQLite.EF6" version="1.0.105.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Linq" version="1.0.105.0" targetFramework="net45" />
  <package id="UDE.CSharp" version="1.1.0" targetFramework="net45" />
</packages>