<?xml version="1.0" encoding="utf-8"?>
<!--Redis-->
<RedisClientSeting>
  <!--单一服务器模式，如果为False 将启用读取分离模式-->
  <SingleMode>false</SingleMode>
  <DbIndex>1</DbIndex>
  <RedisServer>  
    <HostItem>
      <!--主机地址-->
      <Host>192.168.1.243</Host>
      <!--链接数-->
      <Connections>60</Connections>
    </HostItem>
  </RedisServer>
  <Writes>
   
  </Writes>
  <Reads>
  </Reads>
</RedisClientSeting>