<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SmartIot-Scada" connectionString="Data Source=.\db\Device.db;" providerName="Sqlite"/>
    <add name="SmartIot-Scada-Data" connectionString="Data Source=.\db\DeviceData.db;" providerName="Sqlite"/>
    <add name="SmartIot-Scada-DeviceData" connectionString="Data Source=.\db\DeviceData.db;" providerName="Sqlite"/>
  </connectionStrings>
  <appSettings>

    <!--服务名-->
    <add key="XAgent.ServiceName" value="SmartIotCollectionService"/>
    <!--显示名-->
    <add key="XAgent.DisplayName" value="斯玛特物联网传感器监控服务"/>
    <!--服务描述-->
    <add key="XAgent.Description" value="斯玛特物联网传感器监控服务"/>

    <!--<add key="ApiUri" value="Tcp://218.22.26.230:65510"></add>-->

    <!--<add key="ApiUri" value="Tcp://127.0.0.1:65510"></add>-->

    <!--处理设备不回数据-->
    <add key="ProcessNotResponse" value="false"/>

    <!--是否启用随机数 +-0.5-->
    <add key="IsRandom" value="true"/>

    <!--自动采集间隔时间,单位：分-->
    <add key="AutoCollectTime" value="2"/>

    <!--远程控制扫描间隔，单位：秒-->
    <add key="ScanControlTime" value="5"/>

    <!--是否开启远程控制-->
    <add key="StartRemotControl" value="true"/>

    <!--是否主动上传数据-->
    <add key="IsUploadData" value="false"/>
    <!--数据主动上传，单位：分-->
    <add key="UploadTime" value="5"/>

    <!--数据回复超时时间 单位：秒-->
    <add key="ThreadSleepTime" value="10"/>

    <!--是否发送LED-->
    <add key="IsSendLed" value="false"/>
    <!--发送LED时间间隔 单位：分-->
    <add key="LedSendTime" value="1"/>

    <!--LED控制卡类型-->
    <!--圆心YX
        YX-AC01
        YX-TW10-III
    -->
    <!--灵信
        LX
    -->
    <add key="LedType" value="YX-TW10-III"/>

    <!--是否发送TTS-->
    <add key="IsSendTts" value="false"/>
    <!--发送LED时间间隔 单位：分-->
    <add key="TtsSendTime" value="1"/>

    <!--发送邮件的地址-->
    <add key="SendEmailAddress" value="humtech@yeah.net"/>
    <!--发送邮件的密码-->
    <add key="SendEmailPassword" value="hzx2013"/>

    <!--接受邮件的地址-->
    <add key="EmailReceiveAddress" value="humtech@yeah.net"/>
    <!--发送邮件的程序名称-->
    <add key="From" value="物联网监测系统"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
