<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="connName" connectionString="Data Source=wlw.smartiot.cc,4000;Initial Catalog=AWIOT5;uid=sa;pwd=*************" providerName="System.Data.SqlClient"/>
    <!--<add name="JSing" connectionString="Server=wlw.smartiot.cc,4000;Database=JSing;uid=sa;pwd=*************" providerName="System.Data.SqlClient" />-->
    <!--<add name="AWIOT-WeatherStation" connectionString="Server= wlw.smartiot.cc,4000;Database=AWIOT4;uid=sa;pwd=*************" providerName="System.Data.SqlClient" />-->
    <!--<add name="AWIOT" connectionString="Server= wlw.smartiot.cc,4000;Database=AWIOT5;uid=sa;pwd=*************" providerName="System.Data.SqlClient" />-->
    <!--<add name="CAWSAnyWhereServer" connectionString="Server= wlw.smartiot.cc,4000;Database=CAWSAnyWhereServer;uid=sa;pwd=*************" providerName="System.Data.SqlClient" />-->
    <!--<add name="AWIOT-WeatherDevice" connectionString="Data Source=.\db\WeatherDevice.db;" providerName="Sqlite" />-->
    <!--农田小气候仪-->
    <!--<add name="CAWSAnyWhereServer" connectionString="Server=10.129.1.146;Database=CAWSAnyWhereServer;uid=nqreg;pwd=*************" providerName="System.Data.SqlClient" />
    <add name="JSi-->
    <!--ng" connectionString="Server=10.129.33.24;Database=ahnyqxwlw.ahnw.gov.cn;uid=ahnyqxwlw.ahnw.gov.cn;pwd=*************" providerName="System.Data.SqlClient" />-->
    <!--<add name="AWIOT" connectionString="Server=10.129.33.24;Database=ahnyqxwlw.ahnw.gov.cn;uid=ahnyqxwlw.ahnw.gov.cn;pwd=*************" providerName="System.Data.SqlClient" />-->
    <!--<add name="AWIOT-WeatherStation" connectionString="Server=10.129.33.24;Database=xqhy_ahnyqxwlw.ahnw.gov.cn;uid=ahnyqxwlw.ahnw.gov.cn;pwd=*************" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceSoap"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.ahqx.gov.cn/weather/WebService.asmx" binding="basicHttpBinding" bindingConfiguration="WebServiceSoap" contract="AHNQ.Weather.WebServiceSoap" name="WebServiceSoap"/>

      <!--服务器-->
      <!--<endpoint address="http://192.89.161.91/weather/WebService.asmx"
      binding="basicHttpBinding" bindingConfiguration="WebServiceSoap"
      contract="AHNW.Weather.WebServiceSoap" name="WebServiceSoap" />-->
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
