<div class="nav-left logo">
</div>
<div class="nav-right">
    <div class="nav-menu">
        @Html.Partial("_TopMenu")
    </div>
    <div class="login-info">欢迎登录，退出</div>
    <div class="nav-tool">预警</div>
</div>